@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar-track{
  background-color: rgb(209 213 219);
  border-radius: 10px;
}

*::-webkit-scrollbar{
  width: 6px;
  height: 5px;
}

*::-webkit-scrollbar:hover{
  width: 12px;
}

*::-webkit-scrollbar-thumb{
  background-color: #686868;
  transition: all 1s;
}

*::-webkit-scrollbar-thumb:hover{
  background-color: #444343;
  border-radius: 0PX;
}